<div>
    <div>
        <mat-toolbar class="toolbar">
            <button mat-flat-button class="toolbar-button" aria-label="home">
                <img class="logo-icon" src="assets/logo.svg">
            </button>

            <span class="toolbar-spacer"></span>
            <button mat-icon-button (click)="onAuth()" aria-label="Account" class="auth-button">
                <mat-icon class="secondary-mat-icon">account_circle</mat-icon>
                <span> Authentication</span>
            </button>
        </mat-toolbar>

        <div class="silder">
            <div class="silder-content">
                <h1><img class="logo" src="assets/logo.svg"></h1>
            </div>
        </div>
        <div>
            <mat-grid-list cols="3" rowHeight="2:1">
                <mat-grid-tile>
                    <div class="marketing-tile">
                        <mat-icon aria-hidden="false" class="marketing-icon">sentiment_very_satisfied</mat-icon>
                        <h3 class="marketing-text-title">You hunger partner</h3>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="marketing-tile">
                        <mat-icon aria-hidden="false" class="marketing-icon">av_timer</mat-icon>
                        <h3 class="marketing-text-title">Good food within minutes</h3>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="marketing-tile">
                        <mat-icon aria-hidden="false" class="marketing-icon">thumb_up_alt</mat-icon>
                        <h3 class="marketing-text-title">The food of your choice.</h3>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="contents">

            <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                    <div>
                        <h3 class="marketing-text-title">Easy Order</h3>
                        <p class="marketing-text-content">
                            At On the Menu Delivery we focus on making our app easy to use for everyone.
                            Ordering online has never been easier.
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../assets/marketing1.jpg">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../assets/marketing2.jpg">
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <h3 class="marketing-text-title">Your Favorites</h3>
                        <p class="marketing-text-content">
                            Order from your favorite restaurants anywhere, anytime.
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <h3 class="marketing-text-title">Best Restaurants in Town</h3>
                        <p class="marketing-text-content">
                            We at On the Menu Delivery bring quality products at your fingertips.
                            We work with the best restaurants to make sure you don't have to worry about
                            what your eating today.
                        </p>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../assets/marketing3.jpg">
                </mat-grid-tile>
                <mat-grid-tile>
                    <img src="../../../assets/marketing4.jpg">
                </mat-grid-tile>
                <mat-grid-tile>
                    <div>
                        <h3 class="marketing-text-title">Fast Delivery</h3>
                        <p class="marketing-text-content">
                            We pride ourselves on speed.
                            Order or send anything in your city and we'll pick it up and deliver it in minutes.
                        </p>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="contactus">
            <h2>Subscribe to our Newsletter to get the latest updates</h2>
            <form>
                <mat-form-field appearance="outline" class="newsletter">
                    <mat-label>Subscribe</mat-label>
                    <input matInput placeholder="Email">
                </mat-form-field>
                <button mat-flat-button>Subscribe Now</button>
            </form>
        </div>
        <div class="footer" color="primary">
            <mat-toolbar color="primary">
                <span>On the Menu Delivery 2022</span>
            </mat-toolbar>
        </div>
    </div>
</div>