<div class="container">
    <app-toolbar></app-toolbar>

    <div class="restaurant-container" mat-elevation-z4>
        <mat-grid-list cols="4" rowHeight="2:1.5" class="restaurant-list">
            <mat-grid-tile>
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button1" (click)="onRest1()"></button>
                    </div>
                    <h1>85C Bakery Cafe</h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button2"></button>
                    </div>
                    <h1>
                        Applebee's
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button3"></button>
                    </div>
                    <h1>
                        Big Smoke Burger
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button4"></button>
                    </div>
                    <h1>
                        Burger King
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>

            
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button5"></button>
                    </div>
                    <h1>
                        Domino's Pizza
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button6"></button>
                    </div>
                    <h1>
                        Dunkin' Donuts
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button7"></button>
                    </div>
                    <h1>
                        Five Guys
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button8"></button>
                    </div>
                    <h1>
                        KFC
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>


            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button9"></button>
                    </div>
                    <h1>
                        McDonald's
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button10"></button>
                    </div>
                    <h1>
                        Outback Steakhouse
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile class="restaurant-tile">
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button11"></button>
                    </div>
                    <h1>
                        Pizza Hut
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="restaurant-tile">
                    <div class="restaurant-logo">
                        <button mat-raised-button class="restaurant-button12"></button>
                    </div>
                    <h1>
                        Taco Bell
                        <br>
                        Opening Soon
                    </h1>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>